<!--Jumbotron-->
 <div class="jumbotron">
    <div class="container innerBox">
        <div>
            <img class="newsIcon" src="assets/imgs/reverseNewspaper.png"></img>
            <h1 class="display-3">Mongo Scraper </h1>
            <h2 class="display-2">New York Times Edition </h2>
        </div>
    </div>
</div>   

<div class="container">   
    <div class="panel panel-default">
        <div class="panel-heading newStyle">
            <h3 class="panel-title">What's New in the News</h3>
            <div class="row"></div>
        </div>
        <div class="panel-body">
           {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{this.title}}</h4>
                </div>
                <div class="panel-body">
                    <p> {{this.sub}}</p>
                    <a href={{this.link}} target="_blank">{{this.link}}</a>
                    <br><br>
                    <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
         </div>
        {{/if}}
        </div>
    </div>
</div>
</div>
